@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 267.3 67% 97.8%;
    --foreground: 273 23% 20%;
    --card: 0 0% 100%;
    --card-foreground: 273 23% 20%;
    --popover: 0 0% 100%;
    --popover-foreground: 273 23% 20%;
    --primary: 273.3 23.4% 55.7%;
    --primary-foreground: 0 0% 98%;
    --secondary: 267 100% 95%;
    --secondary-foreground: 273 23% 20%;
    --muted: 267 50% 96%;
    --muted-foreground: 273 23% 40%;
    --accent: 267 100% 90%;
    --accent-foreground: 273 23% 15%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 267 20% 90%;
    --input: 0 0% 100%;
    --ring: 273.3 23.4% 55.7%;
    --radius: 0.8rem;
    --chart-1: 12 76% 61%;
    --chart-2: 173 58% 39%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
    --sidebar-background: 267.3 67% 97.8%;
    --sidebar-foreground: 273 23% 26.1%;
    --sidebar-primary: 273.3 23.4% 55.7%;
    --sidebar-primary-foreground: 0 0% 98%;
    --sidebar-accent: 267 100% 92%;
    --sidebar-accent-foreground: 273 23% 15%;
    --sidebar-border: 267 20% 90%;
    --sidebar-ring: 273.3 23.4% 55.7%;
  }

  .dark {
    --background: 275 15% 10%;
    --foreground: 267 20% 90%;
    --card: 275 15% 12%;
    --card-foreground: 267 20% 90%;
    --popover: 275 15% 10%;
    --popover-foreground: 267 20% 90%;
    --primary: 267 100% 84.1%;
    --primary-foreground: 273 23% 10%;
    --secondary: 273 23% 20%;
    --secondary-foreground: 0 0% 98%;
    --muted: 273 23% 20%;
    --muted-foreground: 267 20% 70%;
    --accent: 273.3 23.4% 55.7%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 273 23% 20%;
    --input: 273 23% 20%;
    --ring: 267 100% 84.1%;
    --sidebar-background: 275 15% 10%;
    --sidebar-foreground: 267 20% 90%;
    --sidebar-primary: 267 100% 84.1%;
    --sidebar-primary-foreground: 273 23% 10%;
    --sidebar-accent: 273.3 23.4% 55.7%;
    --sidebar-accent-foreground: 0 0% 98%;
    --sidebar-border: 273 23% 20%;
    --sidebar-ring: 267 100% 84.1%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
}